.question-box {
  background-color: #0C00A8;
  color: white;
  /*width: 16.66%;
  height: 20%;*/
  width:100%;
  font-size:3em;
}

.question-cell {
  width:100%;
}

body {
  background-color: #010037;
  color: white;
}

.board {
  width: 90%;
  height: 900px;
}

.board-row{
  width:90%;
}

.questions {
  width:16%;
  height:20%;
}